/*- Custom style -*/

// -- Put custom style under this point -- //

.flex{
    display: flex;
    border: none;
    justify-content: center;
}
.flex div{
    box-sizing: border-box;
    padding: 1em;
}

.head_right{
    padding: 1.5em;
    text-align: start;
}